*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(.img/bg1.png);

}


.contenedor{
    display: flex;
	justify-content: center;
	align-items: center;
    perspective: 150px;
    margin: auto;


}

 .tarjeta{
        width: 100%;
        height: 100%;
        position: relative;
        transition: 1s;
    }

/*-----------hovers*/

    .tarjeta:hover .lado-A{
        transform: rotateY(540deg);
    }

    .tarjeta:hover .lado-B{
        transform: rotateY(360deg);
    }

    .tarjeta:hover{
        transform: translateZ(5rem);
        transform: scale(2);
        animation-name: tarjeta-show;
        animation-duration: 1.3s;
        
    }


    @keyframes tarjeta-show{
        0%{
            filter:grayscale(0%);

        }

        50%{
            filter:grayscale(100%);

        }

        100%{
            filter:grayscale(0%);

        }
    }
    



    [class*="lado"]{
        width: 15rem;
        height: 12rem;
        border-radius: 1rem;
        padding: 1rem;
        position: absolute;
        top: 0;
        left: 0;
        backface-visibility: hidden;
        transition: transform 1s;
        overflow: hidden;
    }

    .lado-A{
        display: flex;
        margin: auto;
        background-image: url(.img/bgc.png);
    }


    .lado-A h2{
        font-size: xx-large;
        color: aliceblue;

    }

        


    .lado-B{
        transform: rotateY(180deg);
        transition: 1s;
    }

    

/*-----------al niño le encanta mezclar mejungues XD*/


[class*="T"]{
    width: 15rem;
    height: 12rem;

}

.T1{
    transform: translateZ(-100px) scale(1);
    z-index: 1;
    margin-top: 40%; 
    margin-left: 5rem;
}


.T2{
    transform: translateZ(-400px) scale(1);
    z-index: 2;
    margin-top: -30%; 
    margin-right: 10%; 
}

 
.T3{
    transform: translateZ(20px) scale(1);
    z-index: 3;
    margin-top: 10%;  

}

.T4{
    transform: translateZ(-20px) scale(1);
    z-index: 2;
    margin-top: -30%;  

}

.T5{
    transform: translateZ(-100px) scale(1);
    z-index: 1;
    margin-top: 10%;  
    margin-right: 5rem;

}

/*------------FONDOS B*/

[class*="B"] img{
    max-height: 100%;
    border-radius: 1rem;
   
}
